

<div class="lista-index visible-lg visible-md mt-1 macoda_slide1">
  <div class="container-fluid px-0">
    <div style="padding-bottom: 100px; background-color: rgba(0,0,0,0.1);" class="animatedfadeIn">
      <h4 class="section-title text-center text-uppercase">Desarrollos Recientes</h4>
      <div class="subborder" style=""></div>
    </div>
    <div class="cont-lista position-relative container " style="top: -60px;">
      <div class="row">
        <div class="col-md-3 animatedzoomIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide1">
                <!--<img src="../assets/img/loteos/0001708898.jpg" class="img-responsive" alt="Casa en venta Cipolletti" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Loteo</b></span></p>

              <div class="prop-detalle text-default">
                <h4 class="regular">MI RINCON</h4>
                <p>
                  Casa en Venta - Cipolletti.
                  Casa en duplex, en dos plantas. En su planta baj...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 animatedbounceIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide2">
              <!--<div class="cont-imagen imgenslide2" style="background-image: url('../assets/img/loteos/f999x666-23077_118142_9.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 174px">
                <img src="../assets/img/loteos/f999x666-23077_118142_9.jpg" class="img-responsive" alt="VENTA - Hermosa Casa en CHAPELCO GOLF & RESORT" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Barrio Privado</b></span></p>
              <div class="prop-detalle text-default">
                <h4 class="regular">LOS ARCOS</h4>
                <p>Amplio local en microcentro de Neuquén, con baño y kitchenette.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 animatedzoomIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide3">
              <!--<div class="cont-imagen" style="background-image: url('../assets/img/loteos/big_156181-1200x762_c.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 174px">
                <img src="../assets/img/loteos/big_156181-1200x762_c.jpg" class="img-responsive" alt="Departamento en venta un dormitorio" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Barrio Privado</b></span></p>
              <div class="prop-detalle text-default">
                <h4 class="regular">LOS CHILES</h4>
                <p>
                  Departamento un dormitorio apto credito hipotecario.
                  Excelente departamento ...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 animatedzoomIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide4">
              <!--<div class="cont-imagen" style="background-image: url('../assets/img/loteos/434173105.JPG'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 174px">
                <img src="../assets/img/loteos/434173105.JPG" class="img-responsive" alt="Departamento en venta dos dormitorios" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Loteo</b></span></p>
              <div class="prop-detalle text-default">

                <h4 class="regular">LA CHOCOLATERA</h4>
                <p>
                  Departamento dos dormitorios apto credito hipotecario.
                  Excelente departament...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 animatedzoomIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide5">
              <!--<div class="cont-imagen" style="background-image: url('../assets/img/loteos/slide14.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 174px">
                <img src="../assets/img/loteos/0001708898.jpg" class="img-responsive" alt="Casa en venta Cipolletti" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Loteo</b></span></p>

              <div class="prop-detalle text-default">
                <h4 class="regular">CIENFUEGOS</h4>
                <p>
                  Casa en Venta - Cipolletti.
                  Casa en duplex, en dos plantas. En su planta baj...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 animatedbounceIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide6">
              <!--<div class="cont-imagen" style="background-image: url('../assets/img/loteos/ea1ea15f-5f8b-b.png'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 174px">
                <img src="../assets/img/loteos/f999x666-23077_118142_9.jpg" class="img-responsive" alt="VENTA - Hermosa Casa en CHAPELCO GOLF & RESORT" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Barrio Privado</b></span></p>
              <div class="prop-detalle text-default">
                <h4 class="regular">SONGO LA MAYA</h4>
                <p>Excelente salón comercial, posee una superficie de 330 metros cuadrados.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 animatedzoomIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide7">
              <!--<div class="cont-imagen" style="background-image: url('../assets/img/loteos/slide1.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 174px">
                <img src="../assets/img/loteos/434173105.JPG" class="img-responsive" alt="Departamento en venta dos dormitorios" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Loteo</b></span></p>
              <div class="prop-detalle text-default">

                <h4 class="regular">LOS ALAMOS</h4>
                <p>
                  Departamento dos dormitorios apto credito hipotecario.
                  Excelente departament...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 animatedbounceIn">
          <div class="prop-item ">
            <a href="#">
              <div class="cont-imagen imgenslide3">
              <!--<div class="cont-imagen" style="background-image: url('../assets/img/loteos/big_156181-1200x762_c.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 174px">
                <img src="../assets/img/loteos/big_156181-1200x762_c.jpg" class="img-responsive" alt="Departamento en venta un dormitorio" />-->
              </div>
              <p class="text-uppercase small"><span class="prop-oper w-100"><b>Barrio Privado</b></span></p>
              <div class="prop-detalle text-default">
                <h4 class="regular">ARCOIRIS</h4>
                <p>
                  Departamento un dormitorio apto credito hipotecario.
                  Excelente departamento ...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>