<footer class="card-footer foothc macoda_footer">
  <div class="container-fluid my-2">
    <div class="d-flex flex-row justify-content-center">
      <div><!-- class="bg-danger"-->
        <div class="d-flex flex-row">
          <div class="d-flex flex-column align-items-end px-1 text-right">
            <span>Contacte con nosotros</span>
            <small>+54 299 4081400</small>
            <small><a href="mailto:macoda@gmail.com" style="color: #51545f">macoda@gmail.com</a></small>
          </div>
          <div class="px-1 d-flex align-items-center">
            <a href="index.html" title="MACODA SRL"><img class="img-fluid" src="../assets/img/logo_footer.png" title="" alt=""/></a>
          </div>
        </div>

      </div>

      <!--<div class="row">
        <div class="col-md-6 col-sm-6 info">
          <div class=" d-flex flex-column align-items-end justify-content-center h-100">
            <span>Contacte con nosotros</span>
            <small>+54 299 4081400</small>
            <small><a href="mailto:macoda@gmail.com" style="color: #51545f">macoda@gmail.com</a></small>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 info">
          <div class="d-flex flex-column logob">
            <a href="index.html" title="MACODA SRL"><img class="img-fluid" src="../assets/img/backlogo1.png" title="" alt=""/></a>
          </div>
        </div>
      </div>-->

    </div>

  </div>
  <div class="copy_right_area d-flex flex-column align-items-center">
    <div class=" d-flex flex-column align-items-center w-50">
      <small>&copy;2018 MACODA - Todos los derechos reservados</small>
    </div>

  </div>
</footer>