<div id="carouselExampleIndicators" class=" slide macoda_homebanner ">
  <div class="">
    <div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item">
        <div class="slide-1">
          <div class="slidercapahc" >
            <div class="container d-flex flex-column justify-content-end text-right h-100 text-white align-items-end">
              <div class="d-none d-sm-block">
                <h1 class="animated fadeInDown">MACODA SRL</h1>
                <p class="animated fadeInUp">Acompañamos tu crecimiento.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-2">
          <div class="slidercapahc">
            <div class="container d-flex flex-column justify-content-end text-right h-100 text-white align-items-end">
              <div class="d-none d-sm-block">
                <h1 class="">Venta y Alquiler</h1>
                <p class="">MACODA ofrece un amplio listado con las mejores ofertas de inmuebles, terrenos y propiedades en la PATAGONIA.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item active">
        <div class="slide-3">
          <div class="slidercapahc">
            <div class="container d-flex flex-column justify-content-center h-100 text-white align-items-start">
              <div class="d-none d-md-block">
                <h1 class="">MACODA SRL</h1>
                <p class="">Desarrollando el presente, construyendo el futuro</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-4">
          <div class="slidercapahc">
            <div class="container d-flex flex-column justify-content-center text-right h-100 text-white align-items-end">
              <div class="d-none d-md-block">
                <h1 class="">Siempre impecable</h1>
                <p class="">Entregamos todas nuestras propiedades en excelente estado de conservación y pintura.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>