<app-dashboard-banner></app-dashboard-banner>
<div class="container macoda_aboutus" style="margin-top: 20vw">
    <main role="main-inner-wrapper" class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 animated fadeIn">
                <article role="pge-title-content" class="h-100 d-flex flex-column justify-content-center ">
                    <header>
                        <h4>Nosotros hacemos</h4><span> Lo que amamos hacer</span>
                    </header>
                    <p>Más de 40,000 clientes han confiado en nosotros y se han beneficiado con nuestros servios.</p>
                </article>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 animated fadeIn">
                <article class="about-content">
                    <p class="my-0">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                </article>
            </section>
        </div>
        <div class="thumbnails-pan">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <section class="col-sm-4 col-xs-4">
                            <figure>
                                <img src="../assets/img/staff/luis.jpg" class="img-responsive img-fluid"/>
                                <figcaption class="d-flex flex-column">
                                    <span>Ernesto Magnago</span>
                                    <small class="font-weight-bold text-uppercase">El Negro</small>
                                </figcaption>
                            </figure>
                        </section>
                        <section class="col-sm-4 col-xs-4">
                            <figure>
                                <img src="../assets/img/staff/luis.jpg" class="img-responsive img-fluid"/>
                                <figcaption class="d-flex flex-column">
                                    <span>Luis Contrera</span>
                                    <small class="font-weight-bold text-uppercase">El Luchosky</small>
                                </figcaption>
                            </figure>
                        </section>

                        <section class="col-sm-4 col-xs-4">
                            <figure>
                                <img src="../assets/img/staff/luis.jpg" class="img-fluid"/>
                                <figcaption class="d-flex flex-column">
                                    <span>Lucas Dahir</span>
                                    <small class="font-weight-bold text-uppercase">El Turco</small>
                                </figcaption>
                            </figure>
                        </section>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </main>
</div>


