<section class="macoda_servicio macoda_slide2">
    <div class="container-fluid">
        <div class="row" style="height: 30vw;">
            <div class="col-md-9 detalles_servicios">
                <div class="row h-100 pl-5">
                    <div class="col-md-6 py-4 d-flex flex-column">
                        <div class="mb-2 lista-index d-flex flex-row animatedbounceInLeft" style=" height: 60%;">
                            <div class="h-100" style="width: 45%;">
                                <div class="card-footer text-right text-uppercase h-100 d-flex flex-column justify-content-center">
                                    <h5 class=" " style="color: #ec7800">Inversiones y Desarrollos</h5>
                                </div>
                            </div>
                            <div class="h-100 cont-imagen imgenslide8"></div>
                        </div>
                        <div class="mt-2 lista-index d-flex flex-row animatedbounceInLeft" style=" height: 40%;">
                            <div class="h-100 cont-imagen imgenslide9"></div>
                            <div class="h-100" style="width: 45%;">
                                <div class="card-footer text-left text-uppercase h-100 d-flex flex-column justify-content-center">
                                    <h5 class=" " style="color: #ec7800">Gestión Administrativa</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 py-4 d-flex flex-column">
                        <div class="mb-2 lista-index d-flex flex-row animatedbounceInLeft" style=" height: 40%;">
                            <div class="h-100 cont-imagen imgenslide10"></div>
                            <div class="h-100" style="width: 45%;">
                                <div class="card-footer text-left text-uppercase h-100 d-flex flex-column justify-content-center">
                                    <h5 class=" " style="color: #ec7800">Contrucción de Edificaciones</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 lista-index d-flex flex-row animatedbounceInLeft" style=" height: 60%;">
                            <div class="h-100" style="width: 45%;">
                                <div class="card-footer text-right text-uppercase h-100 d-flex flex-column justify-content-center">
                                    <h5 class=" " style="color: #ec7800">Compra y Venta de Lotes</h5>
                                </div>
                            </div>
                            <div class="h-100 cont-imagen imgenslide1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 encabezado_servios d-flex flex-column justify-content-center align-items-start animatedfadeInRight" style="background: rgba(246, 171, 21, 0.2);">
                <div class="">
                    <h4 class="section-title text-center text-uppercase">Nuestros servicios</h4>
                    <div class="subborder" style=""></div>
                </div>

            </div>
        </div>
    </div>
</section>