<app-dashboard-banner></app-dashboard-banner>
<div class="container macoda_servicio_detalles py-5" style="margin-top: 20vw">
    <main role="main-inner-wrapper" class="container d-md-block d-none">
        <div class="row py-4">
            <div class="col-md-6 animated bounceInLeft">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-right text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Inversiones y Desarrollos</h5>
                        </div>
                    </div>
                    <div class="h-100 cont-imagen imgenslide8"></div>
                </div>
            </div>
            <div class="col-md-6 animated bounceInLeft">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-6 animated bounceInRight" style="color: #ec7800">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
            <div class="col-md-6 animated bounceInRight">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100 cont-imagen imgenslide9"></div>
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-left text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Gestión Administrativa</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-6 animated bounceInLeft">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100 cont-imagen imgenslide10"></div>
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-left text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Contrucción de Edificaciones</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animated bounceInLeft">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-6 animated bounceInRight">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
            <div class="col-md-6 animated bounceInRight">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-right text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Compra y Venta de Lotes</h5>
                        </div>
                    </div>
                    <div class="h-100 cont-imagen imgenslide1"></div>
                </div>
            </div>
        </div>
    </main>

    <main role="main-inner-wrapper" class="container d-md-none">
        <div class="row">
            <div class="col-md-6 animated bounceInLeft">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-right text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Inversiones y Desarrollos</h5>
                        </div>
                    </div>
                    <div class="h-100 cont-imagen imgenslide8"></div>
                </div>
            </div>
            <div class="col-md-6 py-2 animated bounceInLeft">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animated bounceInRight">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100 cont-imagen imgenslide9"></div>
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-left text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Gestión Administrativa</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 py-2 animated bounceInRight" style="color: #ec7800">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animated bounceInLeft">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100 cont-imagen imgenslide10"></div>
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-left text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Contrucción de Edificaciones</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-2 animated bounceInLeft">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animated bounceInRight">
                <div class="lista-index d-flex flex-row h-100">
                    <div class="h-100" style="width: 45%;">
                        <div class="card-footer text-right text-uppercase h-100 d-flex flex-column justify-content-center">
                            <h5 class=" ">Compra y Venta de Lotes</h5>
                        </div>
                    </div>
                    <div class="h-100 cont-imagen imgenslide1"></div>
                </div>
            </div>
            <div class="col-md-6 py-2 animated bounceInRight">
                <section class="">
                    <article class="">
                        <p class="my-0" style="color: #ec7800">Many people decide to try freelancing because they think they can work whenever they want. That’s now how it happens. If you want to be successful in this job and earn good money with freelancing, you’ll have to get your schedule on track. The more organized you are, the more productive work you’ll cover within a day. The more work you do, the more money you make. Is that motif good enough for you.</p>
                    </article>
                </section>
            </div>
        </div>
    </main>
</div>